body {
	font-family: Calibri;
	line-height: 2.5;
	height: 100%;
}
.footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	padding:8px;
}	
.header {
	position:relative;
	top:0px;
	left:0px;
	width:100%;
}
h1.header {
	text-align: center
}
.hyperlinks {
	word-spacing: 30px;
	margin-left: 20px
}
p {
	line-height: 1
}
.paddingBetweenCols td {
			padding:0 150px 0 150px
		}